<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
<head>
    <title>Shopping List CheckOff</title>
    <!-- Include AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Include our custom app.js -->
    <script src="app.js"></script>
    <!-- Include custom CSS (optional) -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div ng-controller="ToBuyShoppingController as toBuy">
        <h2>To Buy:</h2>
        <ul>
            <li ng-repeat="item in toBuy.toBuyList">
                Buy {{ item.quantity }} {{ item.name }}
                <button ng-click="toBuy.buyItem($index)">Bought</button>
            </li>
        </ul>
        <div ng-if="toBuy.toBuyList.length === 0">Everything is bought!</div>
    </div>
    <div ng-controller="AlreadyBoughtShoppingController as bought">
        <h2>Already Bought:</h2>
        <ul>
            <li ng-repeat="item in bought.boughtList">
                Bought {{ item.quantity }} {{ item.name }}
            </li>
        </ul>
        <div ng-if="bought.boughtList.length === 0">Nothing bought yet.</div>
    </div>
</body>
</html>
